<%= form_for(favourite) do |f| %>
  <% if favourite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favourite.errors.count, "error") %> prohibited this favourite from being saved:</h2>

      <ul>
      <% favourite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fnumber %>
    <%= f.text_field :fnumber %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
