<p id="notice"><%= notice %></p>

<h1>FizzBuzz App</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>FizzBuzz</td>
      <th>Is a Favourite?</td>
      <th>Create/Remove</td>
    </tr>
  </thead>

  <tbody>
    <%@fizzbuzz.each do |index,fizzbuzz| %>

      <tr>
        <td><%= index%></td>
        <td><%= fizzbuzz %></td>
        <td><%= @FavouriteFizz[index.to_i].nil? ? fav=false : fav=true %></td>
        <td>
          <% if !fav %>
            <%= link_to 'New Favourite', favourites_path(numberToFavourite: index.to_i), method: :post%>
          <%else%>
            <%= link_to 'Destroy', @FavouriteFizz[index.to_i], method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </td>
      </tr>

    <% end %>
  </tbody>

</table>

<div class="center">
   <%= will_paginate @fizzbuzz %>
</div>
